body {
    background-color: #000000;
    color: #ffffff;
    line-height: 1.5;
}

header,
h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

a {
    color: #00ff00;
}

p {
    font-size: large;
    justify-content: center;
    max-width: 600px;
    width: 90vw;
    display: block;
    margin: 0 auto;
}


.support {
    overflow-x: scroll;
}

@media screen and (min-width: 480px) {
    body {
        margin-left: 150px;
    }
}